<div class="w-full p-4 text-center h-screen items-center justify-center bg-white border border-gray-900 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Library Management System</h5>
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Empowering Access, Inspiring Minds: Seamlessly Connect to Knowledge with Our Digital Library Management System!</p>
    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <a href="/admin" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <i class="fa-solid fa-desktop fa-beat fa-2xl"></i>
            <div class="text-left rtl:text-right p-3">
                <div class="-mt-1 font-sans text-sm font-semibold">Admin</div>
            </div>
        </a>
        <a href="/login" class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <i class="fa-solid fa-user fa-bounce fa-2xl"></i>
            <div class="text-left rtl:text-right p-3">
                <div class="-mt-1 font-sans text-sm font-semibold">User</div>
            </div>
        </a>
    </div>
    
{{>footer}}
